/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Overlock';
}

body._lock {
    overflow: hidden;
}

h1 {
    font-size: 128px
}

.container {
    max-width: 94%;
    margin: 0 auto;
}

.content {
    padding-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #111;
}

.header__container {
    max-width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.menu__list>li {
    position: relative;
    margin-left: 123px;
}

.menu__link {
    color: #FFFFFF;
    font-size: 20px;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #111;
    padding: 15px;
    min-width: 200px;
}

.menu__icon {
    display: none;
}

.menu__sub-list li {
    margin: 0 10px;
}

.menu__sub-link {
    color: #FFFFFF;
}

.menu__arrow {
    display: none;
}


body._pc .menu__list>li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}

body._touch .menu__list>li {
    display: flex;
    align-items: center;

}

body._touch .menu__link {
    flex: 1 1 auto
}

body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin-left: 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}


body._touch .menu__list>li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}

body._touch .menu__list>li._active .menu__arrow {
    transform: rotate(-180deg);
}

@media (min-width:767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list>li {
        padding: 10px 0;
    }

    .menu__sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}

@media (max-width:767px) {

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-right: 15px;
    }

    .menu__icon::before,
    .menu__icon::after,
    .menu__icon span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%)
    }

    .menu__icon.menu__body._active span {
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #1E1E1E;
        z-index: 2;
    }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__list>li._active .menu__sub-list {
        display: block;
    }

    .menu__link {
        font-size: 24px;
    }

    .menu__sub-list {
        position: relative;
        background-color: #111;
        flex: 1 1 100%;
        margin: 20px 0 0 0;
        display: none;
    }

    .menu__sub-link {
        font-size: 20px;
    }
}



.logo-name {
    font-size: 20px;
}

.btn-nav:hover {
    background-color: #c4c4c4;
}

.btn-nav:active {
    background-color: #7e7e7e;
}

.title {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 664px;
    background-image: url(./img/Title/interier-restorana\ 1.png);
   
}

.name {
    margin-top: 40px;
}

.title-name {
    height: 169px;
    font-size: 128px;
    color: #FFFFFF;
    margin-right: 660px;
}

.btn-welcome {
    display: none;
    width: 155px;
    height: 53px;
    background: #1E1D1D;
    border-radius: 40px;
}

.btn-welcome:hover {
    background-color: rgb(37, 37, 37);
}

.btn-welcome:active {
    background-color: rgb(0, 0, 0);
}

._welcome {
    font-size: 32px;
    color: #FFFFFF;
}

.restaurant {
    display: flex;
}



.title-description {
    margin: auto;
    margin-left: 28px;
}

.restourant-description {
    font-size: large;
    line-height: 40px;
}

.welcome {
    font-weight: bold;
    font-size: 128px;
    margin-top: 40px;
}


.row-container {
    margin: 0 auto;
    width: 80%;
}

.section {
    margin-top: 274px;

}

.section-name {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 157px;
}

.row-description {
    width: 692px;
    font-size: 24px;
    margin: auto 0;
    line-height: 29px;
}

.menu-name {
    font-size: 48px;
    line-height: 59px;
}

.dish-name {
    line-height: 40px;
}

.dish-description {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
}


footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 64px;
}

.container-footer {
    width: 94%;
    height: 272px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 128px;
    margin-left: 2%;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    font-size: 20px;
    line-height: 24px;
}

@media (max-width:969px) {
    .restaurant {
        display: block;
    }

    .history {
        display: block;
    }

    .row {
        display: block;
    }

    .menu {
        display: block;
    }

    .footer-logo {
        font-size: 24px;
    }

    .info {
        font-size: 14px;
    }

    .contacts {
        padding-right: 10px;
    }

    .container-footer {
        height: fit-content;
    }


    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./img/Title/interier-restorana.jpg);
        border-radius: 20px;
        height: 400px;
    }

    .title-name {
        font-size: 64px;
        margin-right: 0;
    }

    .btn-welcome{
        margin-top: -80px;
        display: block;
    }

    .welcome {
        font-size: 64px;
        text-align: center;
        margin-top: 120px;
        padding-bottom: 36px;
    }

    .section-name {
        font-size: 64px;
        text-align: center;
        margin-top: 120px;
        margin-bottom: -90px;
    }

    .row {
        display: flex;
        flex-flow: wrap;
    }

    .row-description {
        order: 2;
        font-size: 20px;
        max-width: 100%;
        padding-top: 20px;
    }

    .row-img {
        max-width: 100%;
    }
}

@media (max-width: 1575px) {
    .btn-welcome{
        display: block;
    }
    .restaurant{
        flex-wrap: wrap;
    }
    .welcome{
        margin-top: 220px;
        text-align: center;
    }
}
